<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

<Product Id="*" UpgradeCode="251571E7-70EA-4D5D-A64F-C998527F2015" Language="1033"
         Manufacturer="Bob - K6RWY" Name="PreOutpost"
         Version="!(bind.fileVersion.PreOutpost.cmp)"
         >

  <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"
           Manufacturer="Bob - K6RWY" Description="Installs PreOutpost"
           Comments="Copyright (c) Bob - K6RWY"
           />

  <MajorUpgrade Schedule="afterInstallInitialize"
                AllowDowngrades="no"   IgnoreRemoveFailure="no"   AllowSameVersionUpgrades="yes"
                DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

  <MediaTemplate EmbedCab="yes" />

  <UI Id="My_InstallDir.ui">
    <UIRef Id="WixUI_InstallDir" />
    <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">
      NOT Installed
    </Publish>
    <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">
      1
    </Publish>
  </UI>

  <WixVariable Id="WixUIDialogBmp" Value="C:\Program Files (x86)\WixApp\dialog.bmp"/>
  <WixVariable Id="WixUIBannerBmp" Value="C:\Program Files (x86)\WixApp\banner.bmp"/>

  <Icon     Id="UIPreOutpost.ico" SourceFile="$(var.SolutionDir)..\CommonFiles\res\UIPreOutpost.ico"/>
  <Icon     Id="PreOutpost.ico" SourceFile="$(var.SolutionDir)..\CommonFiles\res\PreOutpost.ico"/>
  <Property Id="ARPPRODUCTICON"  Value="UIPreOutpost.ico" />

  <Feature Id="ProductFeatures" Title="Main Product" Level="1" >
    <ComponentGroupRef Id="Main.ftr"/>
    <ComponentGroupRef Id="UninstallPreOutpost.ftr"/>
  </Feature>
</Product>

<Fragment>
<ComponentGroup Id="Main.ftr">
  <ComponentRef Id="PreOutpost.cmp"/>
  <ComponentRef Id="Help.cmp"/>
  <ComponentRef Id="Opaddress.cmp"/>
</ComponentGroup>
<ComponentGroup Id="UninstallPreOutpost.ftr">
  <ComponentRef Id="UninstallPreOutpost.cmp"/>
</ComponentGroup>
</Fragment>

<!--Directory structure-->
<Fragment>
  <Directory Id="TARGETDIR" Name="SourceDir">
    <Directory Id="ProgramFilesFolder">
      <Directory Id="PreOutpost.pff" Name="PreOutpost"/>
    </Directory>

    <Directory Id="ProgramMenuFolder" Name="StartMenu">
      <Directory Id="PreOutpost.pmf" Name="PreOutpost"/>
    </Directory>

    <Directory Id="DesktopFolder" Name="Desktop" />
  </Directory>

  <Property Id="ApplicationFolderName" Value="PreOutpost" />
  <Property Id="WIXUI_INSTALLDIR"      Value="PreOutpost.pff"/>
  <Property Id="WixAppFolder"          Value="WixPerMachineFolder" />
</Fragment>

<Fragment>

  <Component Id="PreOutpost.cmp"  Guid="20E8956E-D9FB-43B0-AEDA-B253656EAC2A"
                                                                          Directory="PreOutpost.pff">
    <File Id="PreOutpost.cmp" Source="$(var.SolutionDir)..\Release\PreOUni7.exe" KeyPath="yes"/>

    <Shortcut Id               = "PreOutpost.shc"
              Name             = "PreOutpost"
              Description      = "Configures all BBSes with User Data"
              Advertise        = "yes"
              Directory        = "PreOutpost.pmf"
              WorkingDirectory = "PreOutpost.pff"
              Icon             = "PreOutpost.ico"
              />

    <Shortcut Id               = "PreOutpost.dsk"
              Name             = "PreOutpost"
              Description      = "Configures all BBSes with User Data"
              Advertise        = "yes"
              Directory        = "DesktopFolder"
              WorkingDirectory = "PreOutpost.pff"
              Icon             = "PreOutpost.ico"
              />
  </Component>

  <Component Id="Help.cmp"  Guid="952571DE-BB0B-4F54-B548-3DE43D2D0E6E" Directory="PreOutpost.pff">
    <File Id="Help.cmp" Source="$(var.SolutionDir)..\Release\PreOutpost.chm" KeyPath="yes"/>
  </Component>

  <Component Id="Opaddress.cmp"  Guid="30D89278-B531-4CE7-B001-960C25D3202A"
                                                                          Directory="PreOutpost.pff">
    <File Id="Opaddress.cmp" Source="$(var.SolutionDir)..\Release\OPaddress.exe" KeyPath="yes"/>
  </Component>

</Fragment>

<Fragment>

  <Component Id="UninstallPreOutpost.cmp"
                              Guid="8B58A78C-5957-473D-B98E-EFDE2EA287CD" Directory="PreOutpost.pmf">

    <Shortcut Id               = "UninstallPreOutpost.shc"
              Name             = "Uninstall PreOutpost"
              Description      = "Uninstalls PreOutpost"
              Target           = "[System64Folder]msiexec.exe"
              Arguments        = "/x [ProductCode]"
              Icon             = "UIPreOutpost.ico"
              />
    <RemoveFolder Id="PreOutpost.uni" Directory="PreOutpost.pmf" On="uninstall"/>
    <RegistryValue Root="HKCU" Key="Software\UninstallPreOutpost.cmp" Name="installed"
                   Type="integer" Value="1" KeyPath="yes"/>
  </Component>

</Fragment>

</Wix>
