<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

<Product Id="*" UpgradeCode="3C3F8C11-62C2-46DF-9506-FB759907D7B0" Language="1033"
                  Manufacturer="Bob -- K6RWY" Name="PreOutpost"
                  Version="!(bind.fileVersion.PreOutpost.cmp)"
                  >

  <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"
                      Manufacturer="Bob -- K6RWY" Description="Installs PreOutpost"
                      Comments="Copyright (c) Bob -- K6RWY"
                      />

  <MajorUpgrade Schedule="afterInstallInitialize"
                                AllowDowngrades="no"   IgnoreRemoveFailure="no"   AllowSameVersionUpgrades="no"
                                DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

  <MediaTemplate EmbedCab="yes" />

  <UI Id="My_InstallDir.ui">
    <UIRef Id="WixUI_InstallDir" />
    <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">
      NOT Installed
    </Publish>
    <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">
      1
    </Publish>
  </UI>

  <WixVariable Id="WixUIDialogBmp" Value="C:\Program Files (x86)\WixApp\dialog.bmp"/>
  <WixVariable Id="WixUIBannerBmp" Value="C:\Program Files (x86)\WixApp\banner.bmp"/>

  <Icon     Id="UIPreOutpost01Icon.ico"
                            SourceFile="$(var.SolutionDir)..\PreOutpost.prj\res\UIPreOutpost01.ico"/>
  <Icon     Id="PreOutpost01Icon.ico"
                              SourceFile="$(var.SolutionDir)..\PreOutpost.prj\res\PreOutpost01.ico"/>
  <Icon     Id="Routing01_Icon.exe"
                                  SourceFile="$(var.SolutionDir)..\PreOutpost.prj\res\Routing01.ico"/>
  <Property Id="ARPPRODUCTICON"  Value="UIPreOutpost01Icon.ico" />

  <!-- Custom Action to set the system (Machine) Path Variable -->

  <Binary Id="SetEnvExe" SourceFile="C:\Program Files (x86)\SetEnv\SetEnv.exe" />

  <CustomAction Id="PreOutpost.pth" BinaryKey="SetEnvExe" Impersonate="no"
                      Execute="deferred" ExeCommand='-a Path " [PREOUTPOST.PFF] "'   Return="check"/>
  <CustomAction Id="PreOutpost.rmp" BinaryKey="SetEnvExe" Impersonate="no"
                      Execute="deferred" ExeCommand='-d Path " [PREOUTPOST.PFF] "'   Return="check"/>

  <InstallExecuteSequence>
    <Custom Action="PreOutpost.pth" Before="InstallFinalize">
      (UPGRADINGPRODUCTCODE) OR NOT (REMOVE="ALL")
    </Custom>
    <Custom Action="PreOutpost.rmp" Before="PreOutpost.pth">
      (NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")
    </Custom>
  </InstallExecuteSequence>

  <Feature Id="ProductFeatures" Title="Main Product" Level="1" >
    <ComponentGroupRef Id="PreOutpost.ftr"/>
    <ComponentGroupRef Id="PDF.ftr"/>
    <ComponentGroupRef Id="Uninstall_PreOutpost.ftr"/>
  </Feature>
</Product>

<Fragment>
<ComponentGroup Id="PreOutpost.ftr">
  <ComponentRef Id="PreOutpost.cmp"/>
  <ComponentRef Id="Help.cmp"/>
  <ComponentRef Id="AddrBook.cmp"/>
  <ComponentRef Id="AddrHelp.cmp"/>
</ComponentGroup>
<ComponentGroup Id="PDF.ftr">
  <ComponentRef Id="Subject_Line.cmp"/>
  <ComponentRef Id="Packet_Freqs.cmp"/>
  <ComponentRef Id="Recommended_Routing.cmp"/>
  <ComponentRef Id="Check_In_or_Out.cmp"/>
  <ComponentRef Id="Routing_Slip.cmp"/>
</ComponentGroup>
<ComponentGroup Id="Uninstall_PreOutpost.ftr">
  <ComponentRef Id="Uninstall_PreOutpost.cmp"/>
</ComponentGroup>
</Fragment>

<!--Directory structure-->
<Fragment>
  <Directory Id="TARGETDIR" Name="SourceDir">
    <Directory Id="ProgramFilesFolder">
      <Directory Id="PREOUTPOST.PFF" Name="PreOutpost" />
    </Directory>

    <Directory Id="ProgramMenuFolder">
      <Directory Id="PreOutpost.pmf" Name="PreOutpost" />
    </Directory>

    <Directory Id="DesktopFolder" />

  </Directory>

  <Property Id="ApplicationFolderName" Value="PreOutpost" />
  <Property Id="WIXUI_INSTALLDIR"      Value="PREOUTPOST.PFF"/>
  <Property Id="WixAppFolder"          Value="WixPerMachineFolder" />
</Fragment>

<Fragment>

  <Component Id="PreOutpost.cmp"  Guid="69B8338E-34C5-4839-88A3-C8ECB37CC855"
                                                                          Directory="PREOUTPOST.PFF">
    <File Id="PreOutpost.cmp" Source="$(var.SolutionDir)..\Release\PreOutpost.exe" KeyPath="yes"/>

    <Shortcut Id               = "PreOutpost.shc"
              Name             = "PreOutpost"
              Description      = "Provides profiles, subject lines and address book"
              Advertise        = "yes"
              Directory        = "PreOutpost.pmf"
              WorkingDirectory = "PREOUTPOST.PFF"
              Icon             = "PreOutpost01Icon.ico"
              />

    <Shortcut Id               = "PreOutpost.dsk"
              Name             = "PreOutpost"
              Description      = "Provides profiles, subject lines and address book"
              Advertise        = "yes"
              Directory        = "DesktopFolder"
              WorkingDirectory = "PREOUTPOST.PFF"
              Icon             = "PreOutpost01Icon.ico"
              />
  </Component>

  <Component Id="Help.cmp"  Guid="2F1BEFF9-2FBB-4FDF-B981-CC4955C94600" Directory="PREOUTPOST.PFF">
    <File Id="Help.cmp" Source="$(var.SolutionDir)..\Release\PreOutpost.chm" KeyPath="yes"/>
  </Component>

  <Component Id="AddrBook.cmp"  Guid="B8E4EE39-4052-41D6-BDE4-0A2D5E280455" Directory="PREOUTPOST.PFF">
    <File Id="AddrBook.cmp" Source="$(var.SolutionDir)..\Release\OpAddrBk.exe" KeyPath="yes"/>
  </Component>

  <Component Id="AddrHelp.cmp"  Guid="9D5EEDEC-DCA9-4DBB-8C5C-7A8595E4E911" Directory="PREOUTPOST.PFF">
    <File Id="AddrHelp.cmp" Source="$(var.SolutionDir)..\Release\OpAddrBk.chm" KeyPath="yes"/>
  </Component>

</Fragment>

<Fragment>

  <Component Id="Subject_Line.cmp"  Guid="EC17A52B-99EF-4D43-A842-3DEE4155E159"
                                                                          Directory="PREOUTPOST.PFF">
    <File Id="Subject_Line.cmp"
              Source="$(var.SolutionDir)..\Docs\SCCo_Std_Fmt_Pkt_Subj_Line.220803.pdf" KeyPath="yes"/>

    <Shortcut Id               = "SubjectLine.shc"
              Name             = "Subject Line"
              Advertise        = "yes"
              Directory        = "PreOutpost.pmf"
              WorkingDirectory = "PREOUTPOST.PFF"
              Icon             = "Routing01_Icon.exe"
              />
  </Component>

  <Component Id="Packet_Freqs.cmp"  Guid="131FC610-5685-48E2-8DD8-CFA5EF2857E7"
                                                                          Directory="PREOUTPOST.PFF">
    <File Id="Packet_Freqs.cmp"
                      Source="$(var.SolutionDir)..\Docs\SCCo-packet-freqs.230824.pdf" KeyPath="yes"/>

    <Shortcut Id               = "PacketFreqs.shc"
              Name             = "Packet Freqs"
              Advertise        = "yes"
              Directory        = "PreOutpost.pmf"
              WorkingDirectory = "PREOUTPOST.PFF"
              Icon             = "Routing01_Icon.exe"
              />
  </Component>

  <Component Id="Recommended_Routing.cmp" 
                              Guid="46423EA3-1C61-4CCB-B69A-EC72D67A2C9A" Directory="PREOUTPOST.PFF">
    <File Id="Recommended_Routing.cmp"
            Source="$(var.SolutionDir)..\Docs\SCCo_RACES_Rec_Form_Routing.240218.pdf" KeyPath="yes"/>

    <Shortcut Id               = "RecommendedRouting.shc"
              Name             = "Recommended Routing"
              Advertise        = "yes"
              Directory        = "PreOutpost.pmf"
              WorkingDirectory = "PREOUTPOST.PFF"
              Icon             = "Routing01_Icon.exe"
              />
  </Component>

  <Component Id="Check_In_or_Out.cmp"  Guid="7DA36D56-11EF-4A4C-A7D0-A6C6394E5C0F"
                                                                          Directory="PREOUTPOST.PFF">
    <File Id="Check_In_or_Out.cmp"
            Source="$(var.SolutionDir)..\Docs\SCCo_Std_Packet_Check-In-Out.240121.pdf" KeyPath="yes"/>

    <Shortcut Id               = "CheckInorOut.shc"
              Name             = "Check In or Out"
              Advertise        = "yes"
              Directory        = "PreOutpost.pmf"
              WorkingDirectory = "PREOUTPOST.PFF"
              Icon             = "Routing01_Icon.exe"
              />
  </Component>

  <Component Id="Routing_Slip.cmp"  Guid="73215B72-BB5E-470A-A551-272199694951"
                                                                          Directory="PREOUTPOST.PFF">
    <File Id="Routing_Slip.cmp"
        Source="$(var.SolutionDir)..\Docs\XSC_RACES_Routing_Slip_Fillable.190527.pdf" KeyPath="yes"/>

    <Shortcut Id               = "RoutingSlip.shc"
              Name             = "Routing Slip"
              Advertise        = "yes"
              Directory        = "PreOutpost.pmf"
              WorkingDirectory = "PREOUTPOST.PFF"
              Icon             = "Routing01_Icon.exe"
              />
  </Component>

</Fragment>

<Fragment>

  <Component Id="Uninstall_PreOutpost.cmp" 
                              Guid="446353E3-9726-4090-9E75-01FEAC475A89" Directory="PreOutpost.pmf">

    <Shortcut Id               = "UninstallPreOutpost.shc"
              Name             = "Uninstall PreOutpost"
              Description      = "Uninstalls PreOutpost"
              Target           = "[System64Folder]msiexec.exe"
              Arguments        = "/x [ProductCode]"
              Icon             = "UIPreOutpost01Icon.ico"
              />
    <RemoveFolder Id="PreOutpost.uni" Directory="PreOutpost.pmf" On="uninstall"/>
    <RegistryValue Root="HKCU" Key="Software\Uninstall_PreOutpost.cmp" Name="installed"
                   Type="integer" Value="1" KeyPath="yes"/>
  </Component>

</Fragment>

</Wix>
