<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

<Product Id="*" UpgradeCode="27ED5D9F-8D9E-4CB4-B5FE-FFAF3E30CDE5" Language="1033"
                  Manufacturer="Bob -- K6RWY" Name="OpAddrBk"
                  Version="!(bind.fileVersion.OpAddrBk.cmp)"
                  >

  <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"
                      Manufacturer="Bob -- K6RWY" Description="Installs OpAddrBk"
                      Comments="Copyright (c) Bob -- K6RWY"
                      />

  <MajorUpgrade Schedule="afterInstallInitialize"
                                AllowDowngrades="no"   IgnoreRemoveFailure="no"   AllowSameVersionUpgrades="no"
                                DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

  <MediaTemplate EmbedCab="yes" />

  <UI Id="My_InstallDir.ui">
    <UIRef Id="WixUI_InstallDir" />
    <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">
      NOT Installed
    </Publish>
    <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">
      1
    </Publish>
  </UI>

  <WixVariable Id="WixUIDialogBmp" Value="C:\Program Files (x86)\WixApp\dialog.bmp"/>
  <WixVariable Id="WixUIBannerBmp" Value="C:\Program Files (x86)\WixApp\banner.bmp"/>

  <Icon     Id="OpAddrBk_Icon.exe"
                      SourceFile="$(var.SolutionDir)..\..\PreOutpost\OpAddrBk.prj\res\OpAddrBk.ico"/>
  <Property Id="ARPPRODUCTICON"  Value="OpAddrBk_Icon.exe" />

  <Feature Id="ProductFeatures" Title="Main Product" Level="1" >
    <ComponentGroupRef Id="App.ftr"/>
    <ComponentGroupRef Id="PDFfiles.ftr"/>
    <ComponentGroupRef Id="Uninstall_OpAddrBk.ftr"/>
  </Feature>
</Product>

<Fragment>
<ComponentGroup Id="App.ftr">
  <ComponentRef Id="OpAddrBk.cmp"/>
  <ComponentRef Id="Help.cmp"/>
</ComponentGroup>
<ComponentGroup Id="PDFfiles.ftr">
  <ComponentRef Id="PacketFreqs.cmp"/>
  <ComponentRef Id="RoutingForm.cmp"/>
  <ComponentRef Id="SubjectLine.cmp"/>
  <ComponentRef Id="CheckInOut.cmp"/>
  <ComponentRef Id="RoutingSlip.cmp"/>
</ComponentGroup>
<ComponentGroup Id="Uninstall_OpAddrBk.ftr">
  <ComponentRef Id="Uninstall_OpAddrBk.cmp"/>
</ComponentGroup>
</Fragment>

<!--Directory structure-->
<Fragment>
  <Directory Id="TARGETDIR" Name="SourceDir">
    <Directory Id="ProgramFilesFolder">
      <Directory Id="OPADDRBK.PFF" Name="OpAddrBk" />
    </Directory>

    <Directory Id="ProgramMenuFolder">
      <Directory Id="OpAddrBk.pmf" Name="OpAddrBk" />
    </Directory>

    <Directory Id="DesktopFolder" />

  </Directory>

  <Property Id="ApplicationFolderName" Value="OpAddrBk" />
  <Property Id="WIXUI_INSTALLDIR"      Value="OPADDRBK.PFF"/>
  <Property Id="WixAppFolder"          Value="WixPerMachineFolder" />
</Fragment>

<Fragment>

  <Component Id="OpAddrBk.cmp"  Guid="67E93054-F0C1-4B30-A22D-FA6684D99BBF" Directory="OPADDRBK.PFF">
    <File Id="OpAddrBk.cmp"
                      Source="$(var.SolutionDir)..\..\PreOutpost\Release\OpAddrBk.exe" KeyPath="yes"/>

    <Shortcut Id               = "OpAddrBk.shc"
              Name             = "OpAddrBk"
              Description      = "A Dialog Application"
              Advertise        = "yes"
              Directory        = "OpAddrBk.pmf"
              WorkingDirectory = "OPADDRBK.PFF"
              Icon             = "OpAddrBk_Icon.exe"
              />

    <Shortcut Id               = "OpAddrBk.dsk"
              Name             = "OpAddrBk"
              Description      = "A Dialog Application"
              Advertise        = "yes"
              Directory        = "DesktopFolder"
              WorkingDirectory = "OPADDRBK.PFF"
              Icon             = "OpAddrBk_Icon.exe"
              />
    <Condition>
      <![CDATA[Installed OR VersionNT >= 601]]>
    </Condition>
  </Component>

  <Component Id="Help.cmp"  Guid="9421BEF5-9D8F-4450-A202-40E9D04CADFA" Directory="OPADDRBK.PFF">
    <File Id="Help.cmp" Source="$(var.SolutionDir)..\..\PreOutpost\Release\OpAddrBk.chm" KeyPath="yes"/>
  </Component>

</Fragment>

<Fragment>

  <Component Id="PacketFreqs.cmp"  Guid="8B29DFBD-AC77-4940-BB2C-E2109B387A81"
                                                                            Directory="OPADDRBK.PFF">
    <File Id="PacketFreqs.cmp"
        Source="$(var.SolutionDir)..\..\PreOutpost\Docs\SCCo-packet-freqs.230824.pdf" KeyPath="yes"/>

    <Shortcut Id               = "PacketFreqs.shc"
              Name             = "PacketFreqs"
              Advertise        = "yes"
              Directory        = "OpAddrBk.pmf"
              WorkingDirectory = "OPADDRBK.PFF"
              />
  </Component>

  <Component Id="RoutingForm.cmp"  Guid="F580E15E-EFEB-409E-9E05-42AB70742461"
                                                                            Directory="OPADDRBK.PFF">
    <File Id="RoutingForm.cmp"
Source="$(var.SolutionDir)..\..\PreOutpost\Docs\SCCo_RACES_Rec_Form_Routing.240218.pdf" KeyPath="yes"/>

    <Shortcut Id               = "RoutingForm.shc"
              Name             = "RoutingForm"
              Advertise        = "yes"
              Directory        = "OpAddrBk.pmf"
              WorkingDirectory = "OPADDRBK.PFF"
              />
  </Component>

  <Component Id="SubjectLine.cmp"  Guid="238FFC83-2BE8-48FD-9BBB-F46974423DB5"
                                                                            Directory="OPADDRBK.PFF">
    <File Id="SubjectLine.cmp"
Source="$(var.SolutionDir)..\..\PreOutpost\Docs\SCCo_Std_Fmt_Pkt_Subj_Line.220803.pdf" KeyPath="yes"/>

    <Shortcut Id               = "SubjectLine.shc"
              Name             = "SubjectLine"
              Advertise        = "yes"
              Directory        = "OpAddrBk.pmf"
              WorkingDirectory = "OPADDRBK.PFF"
              />
  </Component>

  <Component Id="CheckInOut.cmp"  Guid="DB2E4FE2-68FE-400F-B5EE-F71CD13F63AC" Directory="OPADDRBK.PFF">
    <File Id="CheckInOut.cmp"
Source="$(var.SolutionDir)..\..\PreOutpost\Docs\SCCo_Std_Packet_Check-In-Out.240121.pdf" KeyPath="yes"/>

    <Shortcut Id               = "CheckInOut.shc"
              Name             = "CheckInOut"
              Advertise        = "yes"
              Directory        = "OpAddrBk.pmf"
              WorkingDirectory = "OPADDRBK.PFF"
              />
  </Component>

  <Component Id="RoutingSlip.cmp"  Guid="8BAF883C-AA75-4846-A1FD-5344DAC19681"
                                                                            Directory="OPADDRBK.PFF">
    <File Id="RoutingSlip.cmp"
Source="$(var.SolutionDir)..\..\PreOutpost\Docs\XSC_RACES_Routing_Slip_Fillable.190527.pdf" KeyPath="yes"/>

    <Shortcut Id               = "RoutingSlip.shc"
              Name             = "RoutingSlip"
              Advertise        = "yes"
              Directory        = "OpAddrBk.pmf"
              WorkingDirectory = "OPADDRBK.PFF"
              />
  </Component>

</Fragment>

<Fragment>

  <Component Id="Uninstall_OpAddrBk.cmp" 
                                Guid="65D71682-4BD8-4B99-B774-A2BE8349BC9C" Directory="OpAddrBk.pmf">

    <Shortcut Id               = "UninstallOpAddrBk.shc"
              Name             = "Uninstall OpAddrBk"
              Description      = "Uninstalls OpAddrBk"
              Target           = "[System64Folder]msiexec.exe"
              Arguments        = "/x [ProductCode]"
              Icon             = "OpAddrBk_Icon.exe"
              />
    <RemoveFolder Id="OpAddrBk.uni" Directory="OpAddrBk.pmf" On="uninstall"/>
    <RegistryValue Root="HKCU" Key="Software\Uninstall_OpAddrBk.cmp" Name="installed"
                   Type="integer" Value="1" KeyPath="yes"/>
  </Component>

</Fragment>

</Wix>
