<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

<Product Id="*" UpgradeCode="29AC0193-FC62-4DEC-B4E5-8603F8AC54C8" Language="1033"
         Manufacturer="Bob - K6RWY" Name="PreOutpost"
         Version="!(bind.fileVersion.PreOutpost.cmp)"
         >

  <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"
           Manufacturer="Bob - K6RWY" Description="Installs PreOutpost"
           Comments="Copyright (c) Bob - K6RWY"
           />

  <MajorUpgrade Schedule="afterInstallInitialize"
                AllowDowngrades="no"   IgnoreRemoveFailure="no"   AllowSameVersionUpgrades="no"
                DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

  <MediaTemplate EmbedCab="yes" />

  <UI Id="My_InstallDir.ui">
    <UIRef Id="WixUI_InstallDir" />
    <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">
      NOT Installed
    </Publish>
    <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">
      1
    </Publish>
  </UI>

  <WixVariable Id="WixUIDialogBmp" Value="C:\Program Files (x86)\WixApp\dialog.bmp"/>
  <WixVariable Id="WixUIBannerBmp" Value="C:\Program Files (x86)\WixApp\banner.bmp"/>

  <Icon     Id="UIPreOutpostIcon.ico"
                              SourceFile="$(var.SolutionDir)..\PreOCommonFiles\res\UIPreOutpost.ico"/>
  <Icon     Id="PreOutpostIcon.ico"
                                SourceFile="$(var.SolutionDir)..\PreOCommonFiles\res\PreOutpost.ico"/>
  <Property Id="ARPPRODUCTICON"  Value="UIPreOutpostIcon.ico" />

  <Feature Id="ProductFeatures" Title="Main Product" Level="1" >
    <ComponentGroupRef Id="Main.ftr"/>
    <ComponentGroupRef Id="UninstallPreOutpost.ftr"/>
  </Feature>
</Product>

<Fragment>
<ComponentGroup Id="Main.ftr">
  <ComponentRef Id="PreOutpost.cmp"/>
  <ComponentRef Id="HelpFile.cmp"/>
  <ComponentRef Id="OPaddress.cmp"/>
  <ComponentRef Id="RoutingInfo.cmp"/>
  <ComponentRef Id="RoutingSlip.cmp"/>
</ComponentGroup>
<ComponentGroup Id="UninstallPreOutpost.ftr">
  <ComponentRef Id="UninstallPreOutpost.cmp"/>
</ComponentGroup>
</Fragment>

<!--Directory structure-->
<Fragment>
  <Directory Id="TARGETDIR" Name="SourceDir">
    <Directory Id="ProgramFilesFolder">
      <Directory Id="PreOutpost.pff" Name="PreOutpost"/>
    </Directory>

    <Directory Id="ProgramMenuFolder" Name="StartMenu">
      <Directory Id="PreOutpost.pmf" Name="PreOutpost"/>
    </Directory>

    <Directory Id="DesktopFolder" Name="Desktop" />
  </Directory>

  <Property Id="ApplicationFolderName" Value="PreOutpost" />
  <Property Id="WIXUI_INSTALLDIR"      Value="PreOutpost.pff"/>
  <Property Id="WixAppFolder"          Value="WixPerMachineFolder" />
</Fragment>

<Fragment>

  <Component Id="PreOutpost.cmp"  Guid="1F4496A5-2A73-44C3-AAEE-552267DFEBED"
                                                                          Directory="PreOutpost.pff">
    <File Id="PreOutpost.cmp" Source="$(var.SolutionDir)..\Release\PreOWinXP.exe" KeyPath="yes"/>

    <Shortcut Id               = "PreOutpost.shc"
              Name             = "PreOutpost"
              Description      = "Prepares Profiles for all BBS"
              Advertise        = "yes"
              Directory        = "PreOutpost.pmf"
              WorkingDirectory = "PreOutpost.pff"
              Icon             = "PreOutpostIcon.ico"
              />

    <Shortcut Id               = "PreOutpost.dsk"
              Name             = "PreOutpost"
              Description      = "Prepares Profiles for all BBS"
              Advertise        = "yes"
              Directory        = "DesktopFolder"
              WorkingDirectory = "PreOutpost.pff"
              Icon             = "PreOutpostIcon.ico"
              />
    <Condition>
      <![CDATA[Installed OR VersionNT = 501]]>
    </Condition>
  </Component>

  <Component Id="HelpFile.cmp"  Guid="71DFE2C9-4C10-4D09-B281-DD3BA918D28E" Directory="PreOutpost.pff">
    <File Id="HelpFile.cmp" Source="$(var.SolutionDir)..\Hlp\PreOutpost.chm" KeyPath="yes"/>
  </Component>

  <Component Id="OPaddress.cmp"  Guid="8A67286D-F7A1-42E7-BE8E-DB56B3F7F09A"
                                                                          Directory="PreOutpost.pff">
    <File Id="OPaddress.cmp" Source="$(var.SolutionDir)..\Release\OPaddressXP.exe" KeyPath="yes"/>
  </Component>

  <Component Id="RoutingInfo.cmp"  Guid="E7956255-4261-40A5-ABA7-04972B4E1DD1"
                                                                          Directory="PreOutpost.pff">
    <File Id="RoutingInfo.cmp" Source="$(var.SolutionDir)..\Docs\RoutingInfo.pdf" KeyPath="yes"/>
  </Component>

  <Component Id="RoutingSlip.cmp"  Guid="1B8700C5-3831-4784-A0BA-DA19C271A248"
                                                                          Directory="PreOutpost.pff">
    <File Id="RoutingSlip.cmp" Source="$(var.SolutionDir)..\Docs\RoutingSlip.pdf" KeyPath="yes"/>
  </Component>

</Fragment>

<Fragment>

  <Component Id="UninstallPreOutpost.cmp" 
                              Guid="8651F585-0822-4DDE-9D23-E39CFF67CC34" Directory="PreOutpost.pmf">

    <Shortcut Id               = "UninstallPreOutpost.shc"
              Name             = "Uninstall PreOutpost"
              Description      = "Uninstalls PreOutpost"
              Target           = "[System64Folder]msiexec.exe"
              Arguments        = "/x [ProductCode]"
              Icon             = "UIPreOutpostIcon.ico"
              />
    <RemoveFolder Id="PreOutpost.uni" Directory="PreOutpost.pmf" On="uninstall"/>
    <RegistryValue Root="HKCU" Key="Software\UninstallPreOutpost.cmp" Name="installed"
                   Type="integer" Value="1" KeyPath="yes"/>
  </Component>

</Fragment>

</Wix>
